* text=auto eol=lf
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.avif binary
*.ico binary
*.svg text
*.css text diff=css
*.js text diff=javascript
*.html text diff=html
*.json text
